<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify To Youtube Webapp</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pl.css') }}">
</head>
<body>
    <div class="container mt-5">
        <div class ="ph1div"><h1 id ="pH1">My Playlists</h1></div>
        {% if playlists %}
            <ul class="list-group">
                {% for playlist in playlists %}
                    <li class="list-group-item">
                        <h3 id="playlistNAME">{{ playlist.playlist_name }}</h5>
                        <ul>
                            {% for track in playlist.tracks %}
                                <li>
                                    {{ track.name }} - {{ track.duration }}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No playlists found.</p>
        {% endif %}


    </div>
</body>
</html>