body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#EBE9E1;
    color: black;
}

.container mt-5{
    padding: 0px;
    background-color: #EBE9E1;
}
.ph1div #pH1{
    text-align:center;

}
#pH1{
    color: #e43d12;
    text-align: center;
    display: flex;
    font-size:65px;
    margin-left: 5px;
    text-transform: uppercase;
}
.list-group{
    text-decoration: none;
    list-style-type: none;
}

.list-group-item{
    background-color: #dad3b8;
    /*border: 7px;*/
    border-color: #dad3b8;
    padding: 3px;

    margin:0px;
}
#playlistNAME{
    color: #EFB11D;

}